./sounds/blade.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/decision.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/doubleBlade.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/guard.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/stage4.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/stage7_boss.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/beamwait.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/stage1_boss.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/stage2.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/stage8.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/stage8_boss.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/title.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/honey.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/stage2_boss.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/stage4_boss.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/stage7.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/beam.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/title_data filter=lfs diff=lfs merge=lfs -text
./sounds/alarm.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/stage1.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/stage3.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/stage5.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/stage5_boss.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/shot.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/faint.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/talk.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/talk_hi.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/title_.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/wind.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/bye.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/damage.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/scales.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/stage3_boss.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/straw.mp3 filter=lfs diff=lfs merge=lfs -text
SIGA.jar filter=lfs diff=lfs merge=lfs -text
