./sounds/blade.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/decision.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/doubleBlade.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/guard.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/stage4.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/stage7_boss.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/beamwait.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/stage1_boss.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/stage2.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/stage8.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/stage8_boss.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/title.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/honey.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/stage2_boss.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/stage4_boss.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/stage7.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/beam.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/title_data filter=lfs diff=lfs merge=lfs -text
./sounds/alarm.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/stage1.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/stage3.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/stage5.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/stage5_boss.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/shot.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/faint.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/talk.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/talk_hi.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/title_.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/wind.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/bye.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/damage.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/scales.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/stage3_boss.mp3 filter=lfs diff=lfs merge=lfs -text
./sounds/straw.mp3 filter=lfs diff=lfs merge=lfs -text
SIGA.jar filter=lfs diff=lfs merge=lfs -text
./images/weed.jpg filter=lfs diff=lfs merge=lfs -text
./images/bee.png filter=lfs diff=lfs merge=lfs -text
./images/powder.png filter=lfs diff=lfs merge=lfs -text
./images/stage1st.png filter=lfs diff=lfs merge=lfs -text
./images/storyback.png filter=lfs diff=lfs merge=lfs -text
./images/titleback.png filter=lfs diff=lfs merge=lfs -text
./images/bulletE.png filter=lfs diff=lfs merge=lfs -text
./images/oneUp.png filter=lfs diff=lfs merge=lfs -text
./images/power.png filter=lfs diff=lfs merge=lfs -text
./images/stag.png filter=lfs diff=lfs merge=lfs -text
./images/fly.png filter=lfs diff=lfs merge=lfs -text
./images/hero.png filter=lfs diff=lfs merge=lfs -text
./images/stage3rd.jpg filter=lfs diff=lfs merge=lfs -text
./images/Olddango.png filter=lfs diff=lfs merge=lfs -text
./images/SubLogo.png filter=lfs diff=lfs merge=lfs -text
./images/blade.png filter=lfs diff=lfs merge=lfs -text
./images/bullet1.png filter=lfs diff=lfs merge=lfs -text
./images/cycron.png filter=lfs diff=lfs merge=lfs -text
./images/titleback_L.png filter=lfs diff=lfs merge=lfs -text
./images/butterfly.png filter=lfs diff=lfs merge=lfs -text
./images/dango.png filter=lfs diff=lfs merge=lfs -text
./images/hero_invin.png filter=lfs diff=lfs merge=lfs -text
./images/stone.png filter=lfs diff=lfs merge=lfs -text
./images/titleBackORIGINAL.jpg filter=lfs diff=lfs merge=lfs -text
./images/web.png filter=lfs diff=lfs merge=lfs -text
./images/ant.png filter=lfs diff=lfs merge=lfs -text
./images/bullet.png filter=lfs diff=lfs merge=lfs -text
./images/item.png filter=lfs diff=lfs merge=lfs -text
./images/kanabun.png filter=lfs diff=lfs merge=lfs -text
./images/spider.png filter=lfs diff=lfs merge=lfs -text
./images/stage2nd.jpg filter=lfs diff=lfs merge=lfs -text
./images/start.png filter=lfs diff=lfs merge=lfs -text
./images/warning.png filter=lfs diff=lfs merge=lfs -text
./images/Logo.png filter=lfs diff=lfs merge=lfs -text
./images/SubLogo.jpg filter=lfs diff=lfs merge=lfs -text
./images/beatle.png filter=lfs diff=lfs merge=lfs -text
./images/bladeRev.png filter=lfs diff=lfs merge=lfs -text
./images/inStory filter=lfs diff=lfs merge=lfs -text
./images/bigSpider.png filter=lfs diff=lfs merge=lfs -text
./images/honey.png filter=lfs diff=lfs merge=lfs -text
./images/lifeImg.png filter=lfs diff=lfs merge=lfs -text
./images/point.png filter=lfs diff=lfs merge=lfs -text
./images/queenBee.png filter=lfs diff=lfs merge=lfs -text
./images/antQ.png filter=lfs diff=lfs merge=lfs -text
./images/mantis.png filter=lfs diff=lfs merge=lfs -text
./images/stage3rdRev.jpg filter=lfs diff=lfs merge=lfs -text
./images/resource filter=lfs diff=lfs merge=lfs -text
